@charset "UTF-8";
@font-face {
  font-family: "Ogg Light";
  src: url("./fonts/OggLight.woff") format("woff"), url("./fonts/OggLight.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg Light Italic";
  src: url("./fonts/OggLightItalic.woff") format("woff"), url("./fonts/OggLightItalic.woff"), format("woff2");
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Trade Gothic LT Extended";
  src: url("./fonts/Trade Gothic LT Extended.woff") format("woff"), url("./fonts/Trade Gothic LT Extended.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ogg";
  src: url();
}
@font-face {
  font-family: "Ogg";
  src: url();
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  cursor: default;
}

.header {
  max-width: 1320px;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  cursor: default;
}
.header nav {
  color: black;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.8;
}
.header nav ul {
  display: flex;
  justify-content: space-between;
}
.header nav ul li {
  padding: 0 30px;
  transition: transform 0.3s ease, padding 0.3s ease;
}
.header nav ul li:hover {
  transform: scale(1.2);
  padding: 0 23px;
}
.header nav a {
  transition: transform 0.3s ease;
  position: relative;
}
.header nav a:after {
  content: url(./images/—.svg);
  color: #FFFFFF;
  position: absolute;
  bottom: -20px;
  left: 0%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.header nav a:hover:after {
  opacity: 1;
}
.header nav a:hover {
  transform: scale(1.2);
}

.block-screen {
  background: url(./images/promo-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block-screen h1 {
  text-align: center;
  padding-top: 280px;
  padding-bottom: 326px;
  position: relative;
  font-family: "Quattrocento", sans-serif;
  font-weight: 300;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #FFFFFF;
  opacity: 0.85;
}
.block-screen h1:before {
  content: "The simplicity of being";
  top: 181px;
  left: -29px;
  position: absolute;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.7;
}
.block-screen h1:after {
  content: "(biography)";
  top: 455px;
  left: 576px;
  position: absolute;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.7;
}
.block-screen h1 {
  max-width: 1111px;
  margin: 0 auto;
}
.block-screen img {
  position: absolute;
  top: 551px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
.block-screen .marquee-container {
  max-width: 100%;
  height: 20px;
  overflow: hidden;
  position: relative;
  font-family: "Quattrocento", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #71870E;
  padding-bottom: 75px;
}
.block-screen .marquee-container .marquee-text {
  position: absolute;
  white-space: nowrap;
  top: 0;
  left: 0;
}

.form-block {
  padding-top: 200px;
  max-width: 605px;
  margin: 0 auto;
}
.form-block form {
  display: flex;
  flex-direction: column;
}
.form-block h2 {
  padding-bottom: 200px;
  font-family: "Quattrocento";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #000000;
}
.form-block input {
  border: none;
  outline: none;
  border-bottom: 0.1px solid #000000;
}
.form-block label {
  padding: 50px 0 20px;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .header,
  .block-screen,
  .form-block {
    display: none;
  }
  .mobile {
    margin-top: 50px;
    display: block;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    color: #000000;
  }
  .mobile .mobile-header {
    margin: 0 120px;
    font-family: "Ogg Light", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  .mobile .mobile-header .mobile-header__green {
    color: #71870E;
  }
  .mobile .mobile-header .mobile-header__italic {
    font-style: italic;
  }
  .mobile .mobile-content {
    margin: 26px 71px;
    padding: 42px;
    margin-top: 26px;
    font-family: "Trade Gothic LT Extended", sans-serif;
    font-size: 22px;
    line-height: 175%;
    color: rgb(0, 0, 0);
    font-weight: 400;
    opacity: 0.85;
    text-align: left;
  }
  .mobile .mobile-content__read-more {
    color: #CD9A3D;
    line-height: 150%;
  }
  .mobile .pr {
    position: relative;
  }
  .mobile .pa {
    position: absolute;
    bottom: -50%;
    right: -50%;
  }
  .mobile .oh {
    overflow: hidden;
    z-index: 123;
    top: 500px;
    left: 315px;
  }
  .mobile .width100 {
    min-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
